global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 5m
    timeout server 5m

resolvers public_dns
    nameserver cloudflare 1.1.1.1:53
    nameserver google 8.8.8.8:53
    resolve_retries 3
    timeout resolve 2s
    timeout retry 2s
    hold valid 10s

frontend postgresql_primary
    bind 0.0.0.0:5433 tcp-ut 10s
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 tcp-ut 10s init-addr last,libc,none on-marked-down shutdown-sessions
    server hk __HK_DB_ADDRESS__ __HK_DB_RESOLVER__ check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(hk.mlmll.cn)
    server sg __SG_DB_ADDRESS__ __SG_DB_RESOLVER__ check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(sg.mlmll.cn)
    server us __US_DB_ADDRESS__ __US_DB_RESOLVER__ check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(us.mlmll.cn)
    server nas __NAS_DB_ADDRESS__ __NAS_DB_RESOLVER__ check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(mlmll.cn)
