global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 5m
    timeout server 5m

resolvers public_dns
    nameserver cloudflare 1.1.1.1:53
    nameserver google 8.8.8.8:53
    resolve_retries 3
    timeout resolve 2s
    timeout retry 2s
    hold valid 10s

frontend postgresql_primary
    bind 0.0.0.0:5433
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 resolvers public_dns init-addr last,libc,none
    server hk hk.mlmll.cn:5432 check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(hk.mlmll.cn)
    server sg sg.mlmll.cn:5432 check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(sg.mlmll.cn)
    server us us.mlmll.cn:5432 check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(us.mlmll.cn)
    server nas mlmll.cn:5432 check port 8008 check-ssl verify required ca-file /run/secrets/ca.crt crt /run/secrets/haproxy-client.pem sni str(mlmll.cn)
