COMPOSE_PROJECT_NAME=crm-barcode-cluster
COMPOSE_PROFILES=etcd

CRM_NODE_ID=hk
CRM_NODE_NAME=香港主节点
CRM_NODE_ROLE=web-primary
CRM_NODE_HOST=hk.mlmll.cn
CRM_PUBLIC_URL=https://crm.mlmll.cn
CRM_APP_PORT=5012
CRM_QUERY_WORKERS=5
CRM_TRANSFER_WORKERS=2
CRM_REPORT_IDLE_SECONDS=3600
CRM_APP_VERSION=development

POSTGRES_SUPERUSER_PASSWORD=replace_with_random_password
POSTGRES_REPLICATION_PASSWORD=replace_with_random_password
POSTGRES_REWIND_PASSWORD=replace_with_random_password
POSTGRES_APP_PASSWORD=replace_with_random_password
POSTGRES_PUBLIC_PORT=15432
DOCKER_DNS_PRIMARY=223.5.5.5
DOCKER_DNS_SECONDARY=119.29.29.29

CRM_CREDENTIALS_KEY=replace_with_fernet_key
CRM_CLUSTER_ADMIN_TOKEN=replace_with_random_token

R2_BUCKET=crm-barcode-query
R2_ENDPOINT_URL=https://replace_account_id.r2.cloudflarestorage.com
R2_S3_ENDPOINT=replace_account_id.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=replace_with_r2_access_key
R2_SECRET_ACCESS_KEY=replace_with_r2_secret_key

CRM_IMAGE=ghcr.io/lovegongqi/crm_barcode_query_cluster:latest
PATRONI_IMAGE=crm-barcode-patroni:16-4.1.4
ETCD_IMAGE=quay.io/coreos/etcd:v3.5.21
HAPROXY_IMAGE=haproxy:2.8-alpine
CLOUDFLARED_IMAGE=cloudflare/cloudflared:latest
RCLONE_IMAGE=rclone/rclone:1.69.3

CLOUDFLARE_TUNNEL_TOKEN=replace_with_tunnel_token
CLOUDFLARE_TUNNEL_PROTOCOL=auto

NAS_BACKUP_PATH=/volume1/docker/crm-barcode-cluster/backup
